/* I'm gonna nut because this is CSS and if you don't know me,
I FUCKIN' LOVE CSS BITCHEEEEEEEEEEEEEEEEEEEEEEEESSSSSSSSSSSSSSS- flashcord ftw btw */

* {
	font-family: 'SF Compact:style=Semibold';
	font-size: 12px;
}

window#waybar {
	background-color: rgba(4, 2, 4, 0.8); /* SNDL RW3: Bismuth/Flashcord Black */
	color: rgba(254, 254, 255, 0.95); /* SNDL RW3: Sirius Light */

	opacity: 1;
}

label {
	padding: 0 10px;
	margin: 0 1px 0 1px;
	border-radius: 25px;

	transition-property: background-color;
	transition-duration: 250ms;
}

label:hover {
	background-color: rgba(254, 254, 255, 0.25); /* SNDL RW3: Sirius Light */
}

#clock {
	margin: 0 6px 0 1px;
}


#battery {
	animation-iteration-count: 1;
	animation-timing-function: steps(60);
}
#battery.charging {
	animation-name: Flash-Background_Green;
	animation-duration: 2s;
}
#battery.warning:not(.charging) {
	animation-name: Flash-Background_Orange;
	animation-duration: 500ms;
}
#battery.critical:not(.charging) {
	animation-name: Flash-Background_Red;
	animation-duration: 250ms;
}

@keyframes Flash-Background_Green {
	50% { /* SNDL RW3: "Otogi Light" */
		background-color: rgba(72, 239, 80, 0.95);
	}
} 
@keyframes Flash-Background_Orange {
	50% { /* SNDL RW3: "Serina Light" */
		background-color: rgba(238, 224, 50, 0.95);
	}
} 
@keyframes Flash-Background_Red {
	50% { /* SNDL RW3: "Wakamo Light" */
		background-color: rgba(223,15,31, 0.95);
	}
} 


/* The fucking specifications says that transform is a thing yet well HA it doesn't work
@keyframes SNDL-Shake {
    0% {transform: translate(1px 1px); }
    25% {transform: translate(-1px -1px); }
    50% {transform: translate(1px 1px); }
    75% {transform: translate(-1px 1px); }
    100% {transform: translate(0 0); }
}
or i'm stupid */
